In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

from datetime import datetimea

In [2]:
ac_data = "C:\\Users\\Laevskiy\\Desktop\\05-22\\merge103sortedbydate.xlsx"
chem_in = "C:\\Users\\Laevskiy\\Desktop\\05-22\\!chem баки питания.xlsx"
chem_out = "C:\\Users\\Laevskiy\\Desktop\\05-22\\!chem окисленная пульпа.xlsx"
chem_fe2 = "C:\\Users\\Laevskiy\\Desktop\\05-22\\!chem Fe2+.xlsx"

In [3]:
WORK_DIR = "C:\\Users\\Laevskiy\\Desktop\\05-22"

In [4]:
def file_save(df: pd.DataFrame, folder: str, name: str) -> None:
    comp = {
        'method': 'zip',
        'archive_name': 'out.csv'
    }

    filepath = Path(f'./{folder}/{name}.zip')

    df.to_csv(filepath, compression=comp)

## Подготовка данных

### Данные АСУТП

In [5]:
df_ac = pd.read_excel(ac_data, index_col=1, parse_dates=True)
df_ac.drop("Unnamed: 0", axis=1, inplace=True)
df_ac.isna().sum()

320PU107              16
320PU109              16
320RC103DIC02         16
330AC103FI06          16
330AC103FI07          16
330AC103FI08          16
330AC103FI09          16
330AC103FI10          16
330AC103FI51          16
330AC103FI52          16
330AC103FIC40         16
330AC103FICZ01        16
330AC103FICZ02        16
330AC103FICZ03        16
330AC103FICZ04        16
330AC103FICZ05        16
330AC103LICZ01        16
330AC103LICZ01.1      16
330AC103LICZ01.2      16
330AC103PI64          16
330AC103PI65         932
330AC103PIC63A        16
330AC103PIC63A.1      16
330AC103PIZ61         16
330AC103TIC01         16
330AC103TIC02         16
330AC103TIC03         16
330AC103TIC04         16
330AC103TIC05         16
330AC103TIZ61         16
330PT105PIZ01         16
330TK105LIC01         16
330TK105PI11          16
330TK105TI03          16
330TK105TIC02         16
330TK106LIC01         16
330TK106PI02          16
330TK106TIC02         16
380HX105FIC01         16
380HX105LIC01         16
380HX105PIC03         16
OXYGEN/OxyPurity      16
OXYGEN/OxyPurityB     16
dtype: int64

Уберем пропуски

In [6]:
df_ac.dropna(inplace=True)

Усредним все данные с 10 минутных до часовых. Для дальнейшей стыковки с данными ХА.

In [7]:
df_ac_1h = df_ac.resample('H').mean()

In [8]:
df_ac_1h.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26146 entries, 2019-01-07 08:00:00 to 2021-12-31 17:00:00
Freq: H
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   320PU107           24471 non-null  float64
 1   320PU109           24471 non-null  float64
 2   320RC103DIC02      24471 non-null  float64
 3   330AC103FI06       24471 non-null  float64
 4   330AC103FI07       24471 non-null  float64
 5   330AC103FI08       24471 non-null  float64
 6   330AC103FI09       24471 non-null  float64
 7   330AC103FI10       24471 non-null  float64
 8   330AC103FI51       24471 non-null  float64
 9   330AC103FI52       24471 non-null  float64
 10  330AC103FIC40      24471 non-null  float64
 11  330AC103FICZ01     24471 non-null  float64
 12  330AC103FICZ02     24471 non-null  float64
 13  330AC103FICZ03     24471 non-null  float64
 14  330AC103FICZ04     24471 non-null  float64
 15  330AC103FICZ05     24471 non-null  float64
 16  330AC103LICZ01     24471 non-null  float64
 17  330AC103LICZ01.1   24471 non-null  float64
 18  330AC103LICZ01.2   24471 non-null  float64
 19  330AC103PI64       24471 non-null  float64
 20  330AC103PI65       24471 non-null  float64
 21  330AC103PIC63A     24471 non-null  float64
 22  330AC103PIC63A.1   24471 non-null  float64
 23  330AC103PIZ61      24471 non-null  float64
 24  330AC103TIC01      24471 non-null  float64
 25  330AC103TIC02      24471 non-null  float64
 26  330AC103TIC03      24471 non-null  float64
 27  330AC103TIC04      24471 non-null  float64
 28  330AC103TIC05      24471 non-null  float64
 29  330AC103TIZ61      24471 non-null  float64
 30  330PT105PIZ01      24471 non-null  float64
 31  330TK105LIC01      24471 non-null  float64
 32  330TK105PI11       24471 non-null  float64
 33  330TK105TI03       24471 non-null  float64
 34  330TK105TIC02      24471 non-null  float64
 35  330TK106LIC01      24471 non-null  float64
 36  330TK106PI02       24471 non-null  float64
 37  330TK106TIC02      24471 non-null  float64
 38  380HX105FIC01      24471 non-null  float64
 39  380HX105LIC01      24471 non-null  float64
 40  380HX105PIC03      24471 non-null  float64
 41  OXYGEN/OxyPurity   24471 non-null  float64
 42  OXYGEN/OxyPurityB  24471 non-null  float64
dtypes: float64(43)
memory usage: 8.8 MB

Некоторые даты пропущены в данных, уберем пропуски еще раз.

In [9]:
df_ac_1h.dropna(inplace=True)

### Данные исходного ХА по бакам питания

In [10]:
df_chem_in = pd.read_excel(chem_in, index_col=0, parse_dates=True, usecols="B:H")
df_chem_in = df_chem_in.apply(pd.to_numeric, errors='coerce')
df_chem_in.fillna(0, inplace=True)

In [11]:
df_chem_in.head()

,320 RC-101 S Fe,320 RC-101 S Sобщ,320 RC-101 S Sso42-,320 RC-101 S As,320 RC-101 S Сорг,320 RC-101 S Собщ
Timestamp,,,,,,
2018-12-01 09:00:00,27.10,25.4,0.0,8.90,0.47,1.34
2018-12-02 09:00:00,25.99,26.9,0.0,7.95,0.50,1.33
2018-12-02 13:00:00,25.78,27.2,0.0,7.95,0.48,1.32
2018-12-02 17:00:00,26.71,26.2,0.0,8.38,0.43,1.22
2018-12-03 20:00:00,0.00,25.9,0.0,8.79,0.64,1.10

In [12]:
df_chem_in_1h = df_chem_in.resample('H', convention='start').first()
df_chem_in_1h.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 29075 entries, 2018-12-01 09:00:00 to 2022-03-26 19:00:00
Freq: H
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   320 RC-101 S Fe      1502 non-null   float64
 1   320 RC-101 S Sобщ    1502 non-null   float64
 2   320 RC-101 S Sso42-  1502 non-null   float64
 3   320 RC-101 S As      1502 non-null   float64
 4   320 RC-101 S Сорг    1502 non-null   float64
 5   320 RC-101 S Собщ    1502 non-null   float64
dtypes: float64(6)
memory usage: 1.6 MB

In [13]:
cols = ['Fe', 'Stot', 'SO4', 'As', 'Corg', 'Ctot']
df_chem_in_1h.columns = cols

Приведем даты массивов к одному времени. Возьмем ХА только за те дни, что есть данные с АСУТП

In [14]:
min_date = datetime.fromisoformat('2019-01-01 00:00:00')
max_date = datetime.fromisoformat('2021-12-31 17:00:00')

df_chem_in_1h = df_chem_in_1h[min_date:max_date]

Уберем нулевые значения, а вместо них поставим np.nan

In [15]:
df_chem_in_1h.replace({0: np.NaN}, inplace=True)

### Данные ХА по Fe2+

In [56]:
df_chem_fe2 = pd.read_excel(chem_fe2, index_col=0, parse_dates=True, usecols="B,E")
df_chem_fe2 = df_chem_fe2.apply(pd.to_numeric, errors='coerce')
df_chem_fe2.fillna(0, inplace=True)

In [57]:
df_chem_fe2_1h = df_chem_fe2.resample('H').first()
df_chem_fe2_1h.info()
df_chem_fe2_1h.head(400)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 29237 entries, 2018-11-29 15:00:00 to 2022-03-31 19:00:00
Freq: H
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   330-ТК-106 L Fe2+   14781 non-null  float64
dtypes: float64(1)
memory usage: 456.8 KB

                     330-ТК-106 L Fe2+
Timestamp
2018-11-29 15:00:00                 0.0
2018-11-29 16:00:00                 NaN
2018-11-29 17:00:00                 NaN
2018-11-29 18:00:00                 NaN
2018-11-29 19:00:00                 NaN
...                                 ...
2018-12-16 02:00:00                 0.0
2018-12-16 03:00:00                 NaN
2018-12-16 04:00:00                 0.0
2018-12-16 05:00:00                 NaN
2018-12-16 06:00:00                 0.0

[400 rows x 1 columns]

In [58]:
df_chem_fe2_1h = df_chem_fe2_1h[min_date:max_date]
df_chem_fe2_1h.fillna(method='ffill', inplace=True)

In [61]:
cols = ['Fe2+']
df_chem_fe2_1h.columns = cols
df_chem_fe2_1h.tail(400)

                     Fe2+
Timestamp
2021-12-15 02:00:00  0.89
2021-12-15 03:00:00  0.96
2021-12-15 04:00:00  0.96
2021-12-15 05:00:00  0.92
2021-12-15 06:00:00  0.93
...                   ...
2021-12-31 13:00:00  1.41
2021-12-31 14:00:00  1.41
2021-12-31 15:00:00  1.41
2021-12-31 16:00:00  1.41
2021-12-31 17:00:00  1.41

[400 rows x 1 columns]

### Данные ОТК по плотностям твердого и питания автоклава¶

In [25]:
path_19 = "C:\\Users\\Laevskiy\\Desktop\\05-22\\Nikitos19.xlsx"
path_20 = "C:\\Users\\Laevskiy\\Desktop\\05-22\\Nikitos20.xlsx"
path_21 = "C:\\Users\\Laevskiy\\Desktop\\05-22\\Nikitos21.xlsx"

ds_19 = pd.read_excel(path_19, sheet_name='AC103', usecols='B:D', index_col=0, parse_dates=True)
ds_20 = pd.read_excel(path_20, sheet_name='AC103', usecols='B:D', index_col=0, parse_dates=True)
ds_21 = pd.read_excel(path_21, sheet_name='AC103', usecols='B:D', index_col=0, parse_dates=True)

In [26]:
ds_full = pd.concat([ds_19, ds_20, ds_21])

In [27]:
assert(ds_19.shape[0] + ds_20.shape[0] + ds_21.shape[0] == ds_full.shape[0])

In [28]:
ds_full = ds_full.apply(pd.to_numeric, errors='coerce')

In [29]:
ds_full_1h = ds_full.resample('H', convention='start').first()

In [30]:
ds_full_1h.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 33133 entries, 2019-01-01 07:00:00 to 2022-10-12 19:00:00
Freq: H
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   D(S)    1450 non-null   float64
 1   D(SL)   1144 non-null   float64
dtypes: float64(2)
memory usage: 776.6 KB

### Финальные проверки массивов данных¶

In [62]:
print(f'Начальная дата: {min_date}, конечная дата: {max_date}.')

print(f'Данные автоклава от: {df_ac_1h.index.min()} до {df_ac_1h.index.max()}')
print(f'Данные баков питания от: {df_chem_in_1h.index.min()} до {df_chem_in_1h.index.max()}')
print(f'Данные по железу 2+ от: {df_chem_fe2_1h.index.min()} до {df_chem_fe2_1h.index.max()}')
print(f'Данные по плотности в баках питания от: {ds_full_1h.index.min()} до {ds_full_1h.index.max()}')


print(f'Число точек по автоклаву {len(df_ac_1h)}, по бакам питания {len(df_chem_in_1h)}, по железу {len(df_chem_fe2_1h)} и по плотности {len(ds_full_1h)}')

Начальная дата: 2019-01-01 00:00:00, конечная дата: 2021-12-31 17:00:00.
Данные автоклава от: 2019-01-07 08:00:00 до 2021-12-31 17:00:00
Данные баков питания от: 2019-01-01 00:00:00 до 2021-12-31 17:00:00
Данные по железу 2+ от: 2019-01-01 00:00:00 до 2021-12-31 17:00:00
Данные по плотности в баках питания от: 2019-01-01 07:00:00 до 2022-10-12 19:00:00
Число точек по автоклаву 24471, по бакам питания 26298, по железу 26298 и по плотности 33133

In [63]:
file_save(df_ac_1h, WORK_DIR, 'df_ac_1h')

In [64]:
file_save(df_chem_in_1h, WORK_DIR, 'df_chem_in_1h')

In [65]:
file_save(df_chem_fe2_1h, WORK_DIR, 'df_chem_fe2_1h')

In [66]:
file_save(ds_full_1h, WORK_DIR, 'ds_full_1h')

Загрузим ранее сохраненные данные, если не изменений ранее

In [67]:
df_ac_1h = pd.read_csv(f'{WORK_DIR}\df_ac_1h.zip', index_col=0, parse_dates=True)
df_chem_in_1h = pd.read_csv(f'{WORK_DIR}\df_chem_in_1h.zip', index_col=0, parse_dates=True)
df_chem_fe2_1h = pd.read_csv(f'{WORK_DIR}\df_chem_fe2_1h.zip', index_col=0, parse_dates=True)

### Объединение данных в одну таблицу

In [68]:
df1 = df_ac_1h.merge(df_chem_in_1h, how='inner', left_index=True, right_index=True)
df1 = df1.merge(df_chem_fe2_1h, how='inner', left_index=True, right_index=True)
df1 = df1.merge(ds_full_1h, how='inner', left_index=True, right_index=True)

In [70]:
df1.info()
df1.head(100)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24471 entries, 2019-01-07 08:00:00 to 2021-12-31 17:00:00
Data columns (total 52 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   320PU107           24471 non-null  float64
 1   320PU109           24471 non-null  float64
 2   320RC103DIC02      24471 non-null  float64
 3   330AC103FI06       24471 non-null  float64
 4   330AC103FI07       24471 non-null  float64
 5   330AC103FI08       24471 non-null  float64
 6   330AC103FI09       24471 non-null  float64
 7   330AC103FI10       24471 non-null  float64
 8   330AC103FI51       24471 non-null  float64
 9   330AC103FI52       24471 non-null  float64
 10  330AC103FIC40      24471 non-null  float64
 11  330AC103FICZ01     24471 non-null  float64
 12  330AC103FICZ02     24471 non-null  float64
 13  330AC103FICZ03     24471 non-null  float64
 14  330AC103FICZ04     24471 non-null  float64
 15  330AC103FICZ05     24471 non-null  float64
 16  330AC103LICZ01     24471 non-null  float64
 17  330AC103LICZ01.1   24471 non-null  float64
 18  330AC103LICZ01.2   24471 non-null  float64
 19  330AC103PI64       24471 non-null  float64
 20  330AC103PI65       24471 non-null  float64
 21  330AC103PIC63A     24471 non-null  float64
 22  330AC103PIC63A.1   24471 non-null  float64
 23  330AC103PIZ61      24471 non-null  float64
 24  330AC103TIC01      24471 non-null  float64
 25  330AC103TIC02      24471 non-null  float64
 26  330AC103TIC03      24471 non-null  float64
 27  330AC103TIC04      24471 non-null  float64
 28  330AC103TIC05      24471 non-null  float64
 29  330AC103TIZ61      24471 non-null  float64
 30  330PT105PIZ01      24471 non-null  float64
 31  330TK105LIC01      24471 non-null  float64
 32  330TK105PI11       24471 non-null  float64
 33  330TK105TI03       24471 non-null  float64
 34  330TK105TIC02      24471 non-null  float64
 35  330TK106LIC01      24471 non-null  float64
 36  330TK106PI02       24471 non-null  float64
 37  330TK106TIC02      24471 non-null  float64
 38  380HX105FIC01      24471 non-null  float64
 39  380HX105LIC01      24471 non-null  float64
 40  380HX105PIC03      24471 non-null  float64
 41  OXYGEN/OxyPurity   24471 non-null  float64
 42  OXYGEN/OxyPurityB  24471 non-null  float64
 43  Fe                 1100 non-null   float64
 44  Stot               1220 non-null   float64
 45  SO4                284 non-null    float64
 46  As                 1105 non-null   float64
 47  Corg               1210 non-null   float64
 48  Ctot               1216 non-null   float64
 49  Fe2+               24471 non-null  float64
 50  D(S)               1323 non-null   float64
 51  D(SL)              1032 non-null   float64
dtypes: float64(52)
memory usage: 9.9 MB

,320PU107,320PU109,320RC103DIC02,330AC103FI06,330AC103FI07,330AC103FI08,330AC103FI09,330AC103FI10,330AC103FI51,330AC103FI52,...,OXYGEN/OxyPurityB,Fe,Stot,SO4,As,Corg,Ctot,Fe2+,D(S),D(SL)
2019-01-07 08:00:00,0.0,0.0,988.134185,0.0,0.043584,0.0,-0.002869,0.002773,4950.000488,0.043499,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-07 09:00:00,0.0,0.0,988.136597,0.0,0.019913,0.0,-0.002889,0.002721,4950.000488,0.022348,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-07 10:00:00,0.0,0.0,988.136597,0.0,0.017100,0.0,-0.002894,0.002596,4950.000488,0.016839,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-07 11:00:00,0.0,0.0,988.136597,0.0,0.016176,0.0,-0.002894,0.002564,4950.000488,0.015854,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-07 12:00:00,0.0,0.0,988.136597,0.0,0.023550,0.0,-0.002894,0.002660,4950.000488,0.023321,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-11 07:00:00,0.0,0.0,988.136597,0.0,1.145311,0.0,-0.002894,0.000784,4950.000488,1.135521,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3900.0,NaN
2019-01-11 08:00:00,0.0,0.0,988.135391,0.0,0.705818,0.0,-0.002889,0.001591,4950.000488,0.710560,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-11 09:00:00,0.0,0.0,988.136597,0.0,0.735617,0.0,-0.002894,0.002701,4950.000488,0.732751,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-11 10:00:00,0.0,0.0,988.136597,0.0,0.755992,0.0,-0.002889,0.002877,4950.000488,0.759336,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-11 11:00:00,0.0,0.0,988.136597,0.0,0.510123,0.0,-0.002881,0.002894,4950.000488,0.510517,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

Сдвинем данные по 𝐹𝑒2+ на 2 часа назад.

In [71]:
df1['Fe2+'] = df1['Fe2+'].shift(-2)

In [72]:
df1.head()

,320PU107,320PU109,320RC103DIC02,330AC103FI06,330AC103FI07,330AC103FI08,330AC103FI09,330AC103FI10,330AC103FI51,330AC103FI52,...,OXYGEN/OxyPurityB,Fe,Stot,SO4,As,Corg,Ctot,Fe2+,D(S),D(SL)
2019-01-07 08:00:00,0.0,0.0,988.134185,0.0,0.043584,0.0,-0.002869,0.002773,4950.000488,0.043499,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-07 09:00:00,0.0,0.0,988.136597,0.0,0.019913,0.0,-0.002889,0.002721,4950.000488,0.022348,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-07 10:00:00,0.0,0.0,988.136597,0.0,0.017100,0.0,-0.002894,0.002596,4950.000488,0.016839,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-07 11:00:00,0.0,0.0,988.136597,0.0,0.016176,0.0,-0.002894,0.002564,4950.000488,0.015854,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2019-01-07 12:00:00,0.0,0.0,988.136597,0.0,0.023550,0.0,-0.002894,0.002660,4950.000488,0.023321,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [73]:
file_save(df1, WORK_DIR, 'df_total_ds_1h')